/* .heat-map-canvas{
    width: 100px;
    height: 100px;
    background-color: #EFF0F1;
} */


/* .heatmap{
    position: relative;
    height: 900px;
    width: 800px
} */

.heatmap-canvas {
    width: 50%;
    height: 50%;
}

.simulation-control-box {
    margin-top: 3%;
    margin-left: 40%;
}


/* .heatmap-canvas {
    width: 100%;
    height: 100%;
} */

#progress-bar {
    margin: 20px;
    width: 100%;
    height: 20px;
    position: relative;
}

#slide-bar-time {
    margin-top: -2%;
}

#date-heatmap-text {
    margin-bottom: -2%;
}

#renderHeatMap {
    margin-left: 83.5%;
}

#play-heatmap-button {
    margin-left: 40%;
}

#stop-heatmap-button {
    margin-left: 50%;
    margin-top: -11.5%;
}

#print-graph-button {
    margin-left: 70%;
}

#add-graph-box-button {
    margin-left: 45%;
}