<!DOCTYPE html>
<html lang="en">
<script src='js/component/header.js'></script>
<body>
    <!-- メニュー -->
    <script src='js/component/global_nav.js'></script>
    
    <!-- 中身-->
    <div id="content">
        <!-- シミュレーション設定コンテンツ-->
        <div class="configure-card">
            <div class="row">
                <div class="col s12">
                  <div class="card blue-grey white">
                    <div class="card-content grey-text text-darken-3">
                      <span class="card-title">シミュレーション設定</span>
                      <p>シミュレーション実行時の入出力ファイルの設定を行います</p>
                  </div>
                </div>
              </div>
        </div>        
    </div>

    <script src='js/component/footer.js'></script>
<!--<script type="module" src="js/setting.js"></script>-->
</body>
</html>