<!DOCTYPE html>
<html lang="en">
<script src='js/component/header.js'></script>
<body>
    <!-- メニュー -->
    <script src='js/component/global_nav.js'></script>
    
    <!-- 中身-->
    <div id="content">
        <!-- シミュレーション設定コンテンツ-->
        <div class="configure-card">
            <div class="row">
                <div class="col s12">
                  <div class="card blue-grey white">
                    <div class="card-content grey-text text-darken-3">
                      <span class="card-title">シミュレーション設定</span>
                      <p>シミュレーション実行時の入出力ファイルの設定を行います</p>
                        <div id='setting_input' class="setting-form">
                          <div class="col s12 m6 l6">
                            <label>シミュレーション開始日時</label><br>
                            <input type="datetime-local" id="start_time" class="start-time config-input" placeholder="5桁以内で入力"><br>
                          </div>
                          <div id="one-row" class="col s12 m6 l6">
                            <label>シミュレーション終了日時</label><br>
                            <input type="datetime-local" id="finish_time" class="config-input" placeholder="5桁以内で入力"><br>
                          </div>
                          <div class="col s12 m1 l12">
                            <div class="input-field">
                              <select id="simulation-floor" class="config-input">
                                <option value="" disabled selected>Choose your option</option>
                              </select>
                              <label>シミュレーション対象フロアの選択</label>
                            </div>
                          </div>                          
                          <div id="second-row" class="col s12 m1 l12">
                            <label>出力先フォルダのパスを入力</label><br>
                            <input type="text" id="output_folder_path" class="config-input" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
                          </div>
                          <div class="col s12 m6 l6">
                            <div class="input-field">
                              <select id="bems-files-select-box" class="config-input">
                                <option value="" disabled selected>Choose your option</option>
                              </select>
                              <label>BEMSファイル（評価用データ）のパスを入力</label>
                            </div>
                          </div>
                          <div id="three-row" class="col s12 m6 l6">
                            <div class="input-field">
                              <select id="control-files-select-box" class="config-input">
                                <option value="" disabled selected>Choose your option</option>
                              </select>
                              <label>制御計画フォルダのパスを入力</label>              
                            </div>            
                          </div>
                          <div class="col s12 m4 l4">
                            <div class="input-field">
                              <select id="layout-files-select-box" class="config-input">
                                <option value="" disabled selected>Choose your option</option>
                              </select>
                              <label>レイアウトファイルパスを入力</label>                          
                            </div>
                          </div>
                          <div class="col s12 m4 l4">                          
                            <label>スケルトンファイルパスを入力</label><br>
                            <input type="text" id="skeleton_layout_input_folder_path" class="config-input" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
                          </div>
                          <div id="four-row" class="col s12 m4 l4">
                            <div class="input-field">
                              <select id="heat-source-files-select-box" class="config-input">
                                <option value="" disabled selected>Choose your option</option>
                              </select>
                              <label>熱源情報フォルダのパスを入力</label>                          
                            </div>
                            <!--<div id="skeletom_layout_folder_inputform"></div>
                                <label>シミュレーションを行う階の熱源情報フォルダのパスを入力</label><br>
                                <input type="text" id="hot_position_folder_path0" class="config-input" maxlength="100" value="C:/" placeholder="100文字以内で入力"><br>
                                <div id="hot_position_folder_inputform"></div>-->
                          </div>
                        </div>
                        <div class="config-save">
                            <div class="row">
                                <a id="config_save_button" class="waves-effect waves-light btn-large blue"><h5>保存</h5></a>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
        </div>        
        
        <!-- レイアウトの設定コンテンツ-->
        <div class="configure-card">
            <div class="row">
                <div class="col s12 m2 l7">
                    <div class="card blue-grey white">
                        <div class="card-content grey-text text-darken-3">
                            <span class="card-title">レイアウト設定3D</span>
                            <p>3次元のレイアウト設定</p>
                            <p>画像内でクリックしながらカメラ視点を移動できます</p>
                            <div class="layout-form" id="layout-input-form">
                                <div class="input-field">
                                    <select id="layout-view-files-select-box">
                                      <option value="" disabled selected>Choose your option</option>
                                    </select>
                                    <label>レイアウトデータ</label>
                                </div>
                                <div class="input-field">
                                    <select id="heat-source-view-files-select-box">
                                      <option value="" disabled selected>Choose your option</option>
                                    </select>
                                    <label>熱源データ</label>
                                </div>                      
                                <div class="input-field">
                                    <select id="floor-view-files-select-box">
                                      <option value="" disabled selected>Choose your option</option>
                                    </select>
                                    <label>フロアの選択</label>
                                </div>                                                                          
                                <div class="input-field">
                                    <select id="position-view-files-select-box">
                                      <option value="" selected>Choose your option</option>
                                    </select>
                                    <label>温度センサ位置データ</label>
                                </div>                                
                                <div id="layout-floor-form"></div>
                                <div class="row">
                                    <a id="read-layout-button" class="waves-effect waves-light btn-large blue"><h5>読み込み</h5></a>
                                </div>
                            </div>
                            <div id="preview-3d-image">
                                <canvas id='layout-3d'></canvas>
                            </div>
                            <p>左クリック: 回転</p>
                            <p>右クリック: 水平移動</p>
                            <p>マウスホイール: スクロール</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2 l5">
                    <div class="card blue-grey white">
                      <div class="card-content grey-text text-darken-3">
                        <span class="card-title">レイアウト設定2D</span>
                        <p>2次元のレイアウト設定を確認できます</p>
                        <p>高さごとにレイアウトを確認できます</p>
                        <p>クリックした座標値を確認できます</p>
                        <div id="layout-2d-form"></div>
                      <div id="preview-2d-image">
                        <div id='layout-2d-box'><!--<canvas id="2dcanvas" width="30" height="30">--></div>
                        <div id='point-coordinate'></div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src='js/component/footer.js'></script>
<script type="module" src="js/setting.js"></script>
</body>
</html>